.header {
  background-color: black;
  width: 100%;
  height: 75px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", "Calibri", Arial, Helvetica, sans-serif;
}

.logo {
  color: white;
  position: absolute;
  left: 100px;
  top: 10px;
  font-size: 36px;
}

ul {
  list-style: none;
  display: flex;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  background-color: black;
  opacity: 0.8;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  margin: auto 20px;
  border-radius: 3px;
}

.active {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 3px;
  margin: auto 20px;
  text-underline-offset: 5px;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
